/* Reset Css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;/* Giúp tính toán để  không làm thay đổi giá trị của phần tử khi thêm các thuộc tính padding, border  */ 
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/*  

1. Từ ngoài vào trong
2. Từ trên xuống dưới 
3. Từ tổng quan đến chi tiết

*/


/*

1. Vị trí
2. Kích thước ( width, height )
3. Màu sắc
4. Kiểu dáng ( Kiểu chữ, hình tròn, hình vuông )

*/
#main{
    position: relative;

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;

}

#nav { 
    
    display: inline-block;
    list-style-type: none; /* list-style-type: none; Kiểu mặc định của danh sách  */
}


#nav > li {

    display: inline-block;/*  display: inline-block; Hiển thị trên 1 hàng và giữ dạng khối */

}

#nav li {
    
    position: relative;
    
    
}

#nav > li > a {/* a là con trực tiếp của li, li là con trực tiếp của nav */
    color: white;
    text-transform: uppercase; /* text-transform: uppercase; Viết Hoa*/
}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;

}
#nav > li:hover .subnav {
    display: block;
}

#nav > li:hover > a ,
#nav .subnav li:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;/* cursor: pointer; Đổi thuộc tính con trở chuột */
}


#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   
}

#nav .subnav a {
    
    color: black;
    padding: 8px 16px;
    line-height: 30px;
}

#header .search-btn {
    
    float: right;
    
}
#header .search-btn:hover {
    
    background-color:#f44336;
    cursor: pointer;/* cursor: pointer; Đổi thuộc tính con trở chuột */
}

#header .search-icon{
    color: white;
    line-height: 46px;
    padding: 0px 24px;
}

#slider {
    position: relative;
    background: url(/Band/assets/img/slider/slider1.jpg) top center / cover no-repeat;
    margin-top: 46px;
    /* min-height: 500px; Chiều cao tối thiểu là 500px  */
    padding-top: 50%; /* Chiều cao bằng 50% chiều ngang của chính nó*/
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: white;
    margin: center;
    text-align: center;
    left: 0;
    right: 0;
    /* left: 50%;
    
    transform: translateX(-50%) */
   
    
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    margin: 15px 0px;
    font-size: 15px;
    margin-top: 25px;

}


#content{
    height: 1500px;
    background-color: #333;

}

#footer{

}
