/* Reset Css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Giúp tính toán để  không làm thay đổi giá trị của phần tử khi thêm các thuộc tính padding, border  */
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Cách 2 */
.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

/* Common */

.row {
    margin-right: -8px;
    margin-left: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;

}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100% / 3);
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}


/*  

1. Từ ngoài vào trong
2. Từ trên xuống dưới 
3. Từ tổng quan đến chi tiết

*/


/*

1. Vị trí
2. Kích thước ( width, height )
3. Màu sắc
4. Kiểu dáng ( Kiểu chữ, hình tròn, hình vuông )

*/

#main {
    position: relative;

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
    overflow: hidden;

}

#nav {

    display: inline-block;
    list-style-type: none;
    /* list-style-type: none; Kiểu mặc định của danh sách  */
}


#nav > li {

    display: inline-block;
    /*  display: inline-block; Hiển thị trên 1 hàng và giữ dạng khối */
}

#nav li {

    position: relative;


}

#nav>li>a {
    /* a là con trực tiếp của li, li là con trực tiếp của nav */
    color: white;
    text-transform: uppercase;
    /* text-transform: uppercase; Viết Hoa*/
}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;

}

#nav>li:hover .subnav {
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    /* cursor: pointer; Đổi thuộc tính con trở chuột */
}


#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

#nav .subnav a {

    color: black;
    padding: 8px 16px;
    line-height: 30px;
}
#header .mobile-menu-btn,
#header .search-btn {

    float: right;

}


#header .search-btn:hover {

    background-color: #f44336;
    cursor: pointer;
    /* cursor: pointer; Đổi thuộc tính con trở chuột */
}

#header .mobile-menu-btn:hover .menu-icon {
    background-color: #f44336;
}

#header .menu-icon,
#header .search-icon {
    color: white;
    line-height: 46px;
    padding: 0px 24px;
}

#slider {
    position: relative;
    background: url(/Band/assets/img/slider/slider1.jpg) top center / cover no-repeat;
    margin-top: 46px;
    /* min-height: 500px; Chiều cao tối thiểu là 500px  */
    padding-top: 50%;
    /* Chiều cao bằng 50% chiều ngang của chính nó*/
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: white;
    margin: center;
    text-align: center;
    left: 0;
    right: 0;
    /* 
    left: 50%;
    transform: translateX(-50%) 
    */


}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    margin: 15px 0px;
    font-size: 15px;
    margin-top: 25px;

}


#content {}

#content .content-section {
    width: 800px;
    max-width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 10;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 4px;
    /* letter-spacing: 4px; Tăng khoảng cách giữa các chữ lên 4px*/
}

#content .section-sub-heading,
#content .about-text {
    font-size: 15px;
    margin: 15px 0;
}


#content .section-sub-heading {

    text-align: center;
    color: grey;
    font-style: italic;
    /* font-style: italic; Làm in nghiêng chữ*/


}

#content .about-text {

    text-align: justify;
    /* Căn đều hai bên của đoạn văn  */
    line-height: 1.4;
}

#content .members-list {
    margin-top: 48px;

    /* Cách 1 */
    /* overflow: hidden; Giúp khác phụ tình trạng các item float bị nổi nên
    và các container float bị co lại */
}


#content .member-name {

    font-size: 15px;
    margin: 15px 0px;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
    /* border-radius: 4px; Giúp bo góc các cạnh*/
}


/* Tour Section */
.tour-section {

    background-color: #000;
    height: 846px;


}

.tickets-list {
    background-color: white;
    margin-top: 30px;
}

.tickets-list li {
    padding: 8px 16px;
    height: 40px;
    font-size: 15px;
    color: #757575;
    list-style-type: none;
    border: 1px solid #ddd;
    /* border-bottom: 1px solid #ddd; Tạo viền dưới nét liền với độ dày 1px mã màu #ddd */
}

.tickets-list .sold-out {
    background-color: #F44336;
    color: white;
    font-size: 15px;
    padding: 3px 8px;
    margin-left: 16px;

}

.tickets-list .quantity {
    float: right;
    /* float: right; Đưa phần tử sang bên phải */
    background-color: black;
    color: white;
    border: 1px solid #333;
    padding: 3px 8px;
    margin-right: 16px;
    border-radius: 50%;
    /* border-radius: 50%; Giúp làm tròn các góc của phần tử, tạo hình tròn */

}

/* Place */
.place-list {

    margin-top: 32px;

}


.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    background-color: #757575;
    opacity: 0.7;
}

.place-body {
    font-size: 15px;
    background-color: white;
    height: 204px;
    padding: 16px;

}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    display: block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 11px 16px;
    display: inline-block;
}

.place-buy-btn:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

/* Footer Section */
#footer {}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* Lớp phủ Overlay */
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}


.modal-container {
    position: relative;
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    animation: FadeIn ease 0.4s;
}

.modal-header {
    background-color: #009688;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 4px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fff;
    padding: 16px;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-body {
    padding: 0px 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin: 15px 0px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#buy-tickets {
    display: block;
    width: 100%;
    padding: 16px 0px;
    margin: 16px 0px;
    color: #fff;
    text-transform: uppercase;
    background-color: #009688;
    border: none;
    font-weight: 500;
}

#buy-tickets:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;

}

.modal-footer {
    padding: 16px;
    text-align: right;
    margin-bottom: 15px;
}

.modal-footer a {
    color: #2196F3;
}

/* Contact */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

/* MỘt dạng Selector nâng cao */
.contact-info i[class*="fa-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;

}

.contact-form .form-control {
    padding: 10px;
    border: #ccc 1px solid;
    border-radius: 2px;
    width: 100%;
}

.contact-form .form-submit-btn {
    color: white;
    background-color: black;
    float: right;
    font-size: 15px;
    padding: 10px 16px;

}

.contact-form .form-submit-btn:hover {
    color: #000;
    background-color: #ddd;
    cursor: pointer;
}

@keyframes FadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Map Section */
.map-section img {
    width: 100%;
}

.contact-footer {
    color: #333;
    height:200px;
    text-align: center;
    width: 100%;
    font-size: 20px;
} 

.contact-footer i:hover {
    color: #ddd;
    cursor: pointer;
    transition: 0.25s;
}

.contact-footer .contact-icons {
    padding: 60px 0px 15px;
}

.contact-footer p {
    font-size: 15px;
}

/* Responsives */

/* PC */
@media (min-width:1024px) {
    #header .menu-icon {
        display: none;
    }
}

/* Tablet */
@media (min-width:740px) and (max-width:1024px) {
    #header .menu-icon {
        display: none;
    }
}


/* Moblie */
@media (max-width:740px) {
    #nav > li {

        display: block;
        /*  display: inline-block; Hiển thị trên 1 hàng và giữ dạng khối */
    }

    #header .search-btn {
        display: none;
    }
}